@font-face { font-family: 'Noto Emoji'; src: url(../resources/fonts/NotoColorEmoji.ttf); }
@font-face { font-family: 'blank'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u0000'; src: url(../resources/fonts/u0000.woff2) format('woff2'); }
@font-face { font-family: 'u0400'; src: url(../resources/fonts/u0400.woff2) format('woff2'); }
@font-face { font-family: 'u0800'; src: url(../resources/fonts/u0800.woff2) format('woff2'); }
@font-face { font-family: 'u0c00'; src: url(../resources/fonts/u0c00.woff2) format('woff2'); }
@font-face { font-family: 'u1000'; src: url(../resources/fonts/u1000.woff2) format('woff2'); }
@font-face { font-family: 'u1400'; src: url(../resources/fonts/u1400.woff2) format('woff2'); }
@font-face { font-family: 'u1800'; src: url(../resources/fonts/u1800.woff2) format('woff2'); }
@font-face { font-family: 'u1c00'; src: url(../resources/fonts/u1c00.woff2) format('woff2'); }
@font-face { font-family: 'u2000'; src: url(../resources/fonts/u2000.woff2) format('woff2'); }
@font-face { font-family: 'u2400'; src: url(../resources/fonts/u2400.woff2) format('woff2'); }
@font-face { font-family: 'u2800'; src: url(../resources/fonts/u2800.woff2) format('woff2'); }
@font-face { font-family: 'u2c00'; src: url(../resources/fonts/u2c00.woff2) format('woff2'); }
@font-face { font-family: 'u3000'; src: url(../resources/fonts/u3000.woff2) format('woff2'); }
@font-face { font-family: 'u3400'; src: url(../resources/fonts/u3400.woff2) format('woff2'); }
@font-face { font-family: 'u3800'; src: url(../resources/fonts/u3800.woff2) format('woff2'); }
@font-face { font-family: 'u3c00'; src: url(../resources/fonts/u3c00.woff2) format('woff2'); }
@font-face { font-family: 'u4000'; src: url(../resources/fonts/u4000.woff2) format('woff2'); }
@font-face { font-family: 'u4400'; src: url(../resources/fonts/u4400.woff2) format('woff2'); }
@font-face { font-family: 'u4800'; src: url(../resources/fonts/u4800.woff2) format('woff2'); }
@font-face { font-family: 'u4c00'; src: url(../resources/fonts/u4c00.woff2) format('woff2'); }
@font-face { font-family: 'u5000'; src: url(../resources/fonts/u5000.woff2) format('woff2'); }
@font-face { font-family: 'u5400'; src: url(../resources/fonts/u5400.woff2) format('woff2'); }
@font-face { font-family: 'u5800'; src: url(../resources/fonts/u5800.woff2) format('woff2'); }
@font-face { font-family: 'u5c00'; src: url(../resources/fonts/u5c00.woff2) format('woff2'); }
@font-face { font-family: 'u6000'; src: url(../resources/fonts/u6000.woff2) format('woff2'); }
@font-face { font-family: 'u6400'; src: url(../resources/fonts/u6400.woff2) format('woff2'); }
@font-face { font-family: 'u6800'; src: url(../resources/fonts/u6800.woff2) format('woff2'); }
@font-face { font-family: 'u6c00'; src: url(../resources/fonts/u6c00.woff2) format('woff2'); }
@font-face { font-family: 'u7000'; src: url(../resources/fonts/u7000.woff2) format('woff2'); }
@font-face { font-family: 'u7400'; src: url(../resources/fonts/u7400.woff2) format('woff2'); }
@font-face { font-family: 'u7800'; src: url(../resources/fonts/u7800.woff2) format('woff2'); }
@font-face { font-family: 'u7c00'; src: url(../resources/fonts/u7c00.woff2) format('woff2'); }
@font-face { font-family: 'u8000'; src: url(../resources/fonts/u8000.woff2) format('woff2'); }
@font-face { font-family: 'u8400'; src: url(../resources/fonts/u8400.woff2) format('woff2'); }
@font-face { font-family: 'u8800'; src: url(../resources/fonts/u8800.woff2) format('woff2'); }
@font-face { font-family: 'u8c00'; src: url(../resources/fonts/u8c00.woff2) format('woff2'); }
@font-face { font-family: 'u9000'; src: url(../resources/fonts/u9000.woff2) format('woff2'); }
@font-face { font-family: 'u9400'; src: url(../resources/fonts/u9400.woff2) format('woff2'); }
@font-face { font-family: 'u9800'; src: url(../resources/fonts/u9800.woff2) format('woff2'); }
@font-face { font-family: 'u9c00'; src: url(../resources/fonts/u9c00.woff2) format('woff2'); }
@font-face { font-family: 'ua000'; src: url(../resources/fonts/ua000.woff2) format('woff2'); }
@font-face { font-family: 'ua400'; src: url(../resources/fonts/ua400.woff2) format('woff2'); }
@font-face { font-family: 'ua800'; src: url(../resources/fonts/ua800.woff2) format('woff2'); }
@font-face { font-family: 'uac00'; src: url(../resources/fonts/uac00.woff2) format('woff2'); }
@font-face { font-family: 'ub000'; src: url(../resources/fonts/ub000.woff2) format('woff2'); }
@font-face { font-family: 'ub400'; src: url(../resources/fonts/ub400.woff2) format('woff2'); }
@font-face { font-family: 'ub800'; src: url(../resources/fonts/ub800.woff2) format('woff2'); }
@font-face { font-family: 'ubc00'; src: url(../resources/fonts/ubc00.woff2) format('woff2'); }
@font-face { font-family: 'uc000'; src: url(../resources/fonts/uc000.woff2) format('woff2'); }
@font-face { font-family: 'uc400'; src: url(../resources/fonts/uc400.woff2) format('woff2'); }
@font-face { font-family: 'uc800'; src: url(../resources/fonts/uc800.woff2) format('woff2'); }
@font-face { font-family: 'ucc00'; src: url(../resources/fonts/ucc00.woff2) format('woff2'); }
@font-face { font-family: 'ud000'; src: url(../resources/fonts/ud000.woff2) format('woff2'); }
@font-face { font-family: 'ud400'; src: url(../resources/fonts/ud400.woff2) format('woff2'); }
@font-face { font-family: 'uf800'; src: url(../resources/fonts/uf800.woff2) format('woff2'); }
@font-face { font-family: 'ufc00'; src: url(../resources/fonts/ufc00.woff2) format('woff2'); }
@font-face { font-family: 'u10000'; src: url(../resources/fonts/u10000.woff2) format('woff2'); }
@font-face { font-family: 'u10400'; src: url(../resources/fonts/u10400.woff2) format('woff2'); }
@font-face { font-family: 'u10800'; src: url(../resources/fonts/u10800.woff2) format('woff2'); }
@font-face { font-family: 'u10c00'; src: url(../resources/fonts/u10c00.woff2) format('woff2'); }
@font-face { font-family: 'u11000'; src: url(../resources/fonts/u11000.woff2) format('woff2'); }
@font-face { font-family: 'u11400'; src: url(../resources/fonts/u11400.woff2) format('woff2'); }
@font-face { font-family: 'u11800'; src: url(../resources/fonts/u11800.woff2) format('woff2'); }
@font-face { font-family: 'u11c00'; src: url(../resources/fonts/u11c00.woff2) format('woff2'); }
@font-face { font-family: 'u12000'; src: url(../resources/fonts/u12000.woff2) format('woff2'); }
@font-face { font-family: 'u12400'; src: url(../resources/fonts/u12400.woff2) format('woff2'); }
@font-face { font-family: 'u12800'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u12c00'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u13000'; src: url(../resources/fonts/u13000.woff2) format('woff2'); }
@font-face { font-family: 'u13400'; src: url(../resources/fonts/u13400.woff2) format('woff2'); }
@font-face { font-family: 'u13800'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u13c00'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u14000'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u14400'; src: url(../resources/fonts/u14400.woff2) format('woff2'); }
@font-face { font-family: 'u14800'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u14c00'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u15000'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u15400'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u15800'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u15c00'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u16000'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u16400'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u16800'; src: url(../resources/fonts/u16800.woff2) format('woff2'); }
@font-face { font-family: 'u16c00'; src: url(../resources/fonts/u16c00.woff2) format('woff2'); }
@font-face { font-family: 'u17000'; src: url(../resources/fonts/u17000.woff2) format('woff2'); }
@font-face { font-family: 'u17400'; src: url(../resources/fonts/u17400.woff2) format('woff2'); }
@font-face { font-family: 'u17800'; src: url(../resources/fonts/u17800.woff2) format('woff2'); }
@font-face { font-family: 'u17c00'; src: url(../resources/fonts/u17c00.woff2) format('woff2'); }
@font-face { font-family: 'u18000'; src: url(../resources/fonts/u18000.woff2) format('woff2'); }
@font-face { font-family: 'u18400'; src: url(../resources/fonts/u18400.woff2) format('woff2'); }
@font-face { font-family: 'u18800'; src: url(../resources/fonts/u18800.woff2) format('woff2'); }
@font-face { font-family: 'u18c00'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u19000'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u19400'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u19800'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u19c00'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u1a000'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u1a400'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u1a800'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u1ac00'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u1b000'; src: url(../resources/fonts/u1b000.woff2) format('woff2'); }
@font-face { font-family: 'u1b400'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u1b800'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u1bc00'; src: url(../resources/fonts/u1bc00.woff2) format('woff2'); }
@font-face { font-family: 'u1c000'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u1c400'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u1c800'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u1cc00'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u1d000'; src: url(../resources/fonts/u1d000.woff2) format('woff2'); }
@font-face { font-family: 'u1d400'; src: url(../resources/fonts/u1d400.woff2) format('woff2'); }
@font-face { font-family: 'u1d800'; src: url(../resources/fonts/u1d800.woff2) format('woff2'); }
@font-face { font-family: 'u1dc00'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u1e000'; src: url(../resources/fonts/u1e000.woff2) format('woff2'); }
@font-face { font-family: 'u1e400'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u1e800'; src: url(../resources/fonts/u1e800.woff2) format('woff2'); }
@font-face { font-family: 'u1ec00'; src: url(../resources/fonts/u1ec00.woff2) format('woff2'); }
@font-face { font-family: 'u1f000'; src: url(../resources/fonts/u1f000.woff2) format('woff2'); }
@font-face { font-family: 'u1f400'; src: url(../resources/fonts/u1f400.woff2) format('woff2'); }
@font-face { font-family: 'u1f800'; src: url(../resources/fonts/u1f800.woff2) format('woff2'); }
@font-face { font-family: 'u1fc00'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u20000'; src: url(../resources/fonts/u20000.woff2) format('woff2'); }
@font-face { font-family: 'u20400'; src: url(../resources/fonts/u20400.woff2) format('woff2'); }
@font-face { font-family: 'u20800'; src: url(../resources/fonts/u20800.woff2) format('woff2'); }
@font-face { font-family: 'u20c00'; src: url(../resources/fonts/u20c00.woff2) format('woff2'); }
@font-face { font-family: 'u21000'; src: url(../resources/fonts/u21000.woff2) format('woff2'); }
@font-face { font-family: 'u21400'; src: url(../resources/fonts/u21400.woff2) format('woff2'); }
@font-face { font-family: 'u21800'; src: url(../resources/fonts/u21800.woff2) format('woff2'); }
@font-face { font-family: 'u21c00'; src: url(../resources/fonts/u21c00.woff2) format('woff2'); }
@font-face { font-family: 'u22000'; src: url(../resources/fonts/u22000.woff2) format('woff2'); }
@font-face { font-family: 'u22400'; src: url(../resources/fonts/u22400.woff2) format('woff2'); }
@font-face { font-family: 'u22800'; src: url(../resources/fonts/u22800.woff2) format('woff2'); }
@font-face { font-family: 'u22c00'; src: url(../resources/fonts/u22c00.woff2) format('woff2'); }
@font-face { font-family: 'u23000'; src: url(../resources/fonts/u23000.woff2) format('woff2'); }
@font-face { font-family: 'u23400'; src: url(../resources/fonts/u23400.woff2) format('woff2'); }
@font-face { font-family: 'u23800'; src: url(../resources/fonts/u23800.woff2) format('woff2'); }
@font-face { font-family: 'u23c00'; src: url(../resources/fonts/u23c00.woff2) format('woff2'); }
@font-face { font-family: 'u24000'; src: url(../resources/fonts/u24000.woff2) format('woff2'); }
@font-face { font-family: 'u24400'; src: url(../resources/fonts/u24400.woff2) format('woff2'); }
@font-face { font-family: 'u24800'; src: url(../resources/fonts/u24800.woff2) format('woff2'); }
@font-face { font-family: 'u24c00'; src: url(../resources/fonts/u24c00.woff2) format('woff2'); }
@font-face { font-family: 'u25000'; src: url(../resources/fonts/u25000.woff2) format('woff2'); }
@font-face { font-family: 'u25400'; src: url(../resources/fonts/u25400.woff2) format('woff2'); }
@font-face { font-family: 'u25800'; src: url(../resources/fonts/u25800.woff2) format('woff2'); }
@font-face { font-family: 'u25c00'; src: url(../resources/fonts/u25c00.woff2) format('woff2'); }
@font-face { font-family: 'u26000'; src: url(../resources/fonts/u26000.woff2) format('woff2'); }
@font-face { font-family: 'u26400'; src: url(../resources/fonts/u26400.woff2) format('woff2'); }
@font-face { font-family: 'u26800'; src: url(../resources/fonts/u26800.woff2) format('woff2'); }
@font-face { font-family: 'u26c00'; src: url(../resources/fonts/u26c00.woff2) format('woff2'); }
@font-face { font-family: 'u27000'; src: url(../resources/fonts/u27000.woff2) format('woff2'); }
@font-face { font-family: 'u27400'; src: url(../resources/fonts/u27400.woff2) format('woff2'); }
@font-face { font-family: 'u27800'; src: url(../resources/fonts/u27800.woff2) format('woff2'); }
@font-face { font-family: 'u27c00'; src: url(../resources/fonts/u27c00.woff2) format('woff2'); }
@font-face { font-family: 'u28000'; src: url(../resources/fonts/u28000.woff2) format('woff2'); }
@font-face { font-family: 'u28400'; src: url(../resources/fonts/u28400.woff2) format('woff2'); }
@font-face { font-family: 'u28800'; src: url(../resources/fonts/u28800.woff2) format('woff2'); }
@font-face { font-family: 'u28c00'; src: url(../resources/fonts/u28c00.woff2) format('woff2'); }
@font-face { font-family: 'u29000'; src: url(../resources/fonts/u29000.woff2) format('woff2'); }
@font-face { font-family: 'u29400'; src: url(../resources/fonts/u29400.woff2) format('woff2'); }
@font-face { font-family: 'u29800'; src: url(../resources/fonts/u29800.woff2) format('woff2'); }
@font-face { font-family: 'u29c00'; src: url(../resources/fonts/u29c00.woff2) format('woff2'); }
@font-face { font-family: 'u2a000'; src: url(../resources/fonts/u2a000.woff2) format('woff2'); }
@font-face { font-family: 'u2a400'; src: url(../resources/fonts/u2a400.woff2) format('woff2'); }
@font-face { font-family: 'u2a800'; src: url(../resources/fonts/u2a800.woff2) format('woff2'); }
@font-face { font-family: 'u2ac00'; src: url(../resources/fonts/u2ac00.woff2) format('woff2'); }
@font-face { font-family: 'u2b000'; src: url(../resources/fonts/u2b000.woff2) format('woff2'); }
@font-face { font-family: 'u2b400'; src: url(../resources/fonts/u2b400.woff2) format('woff2'); }
@font-face { font-family: 'u2b800'; src: url(../resources/fonts/u2b800.woff2) format('woff2'); }
@font-face { font-family: 'u2bc00'; src: url(../resources/fonts/u2bc00.woff2) format('woff2'); }
@font-face { font-family: 'u2c000'; src: url(../resources/fonts/u2c000.woff2) format('woff2'); }
@font-face { font-family: 'u2c400'; src: url(../resources/fonts/u2c400.woff2) format('woff2'); }
@font-face { font-family: 'u2c800'; src: url(../resources/fonts/u2c800.woff2) format('woff2'); }
@font-face { font-family: 'u2cc00'; src: url(../resources/fonts/u2cc00.woff2) format('woff2'); }
@font-face { font-family: 'u2d000'; src: url(../resources/fonts/u2d000.woff2) format('woff2'); }
@font-face { font-family: 'u2d400'; src: url(../resources/fonts/u2d400.woff2) format('woff2'); }
@font-face { font-family: 'u2d800'; src: url(../resources/fonts/u2d800.woff2) format('woff2'); }
@font-face { font-family: 'u2dc00'; src: url(../resources/fonts/u2dc00.woff2) format('woff2'); }
@font-face { font-family: 'u2e000'; src: url(../resources/fonts/u2e000.woff2) format('woff2'); }
@font-face { font-family: 'u2e400'; src: url(../resources/fonts/u2e400.woff2) format('woff2'); }
@font-face { font-family: 'u2e800'; src: url(../resources/fonts/u2e800.woff2) format('woff2'); }
@font-face { font-family: 'u2ec00'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u2f000'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u2f400'; src: url(../resources/fonts/blank.woff2) format('woff2'); }
@font-face { font-family: 'u2f800'; src: url(../resources/fonts/u2f800.woff2) format('woff2'); }
@font-face { font-family: 'u2fc00'; src: url(../resources/fonts/u2fc00.woff2) format('woff2'); }
@font-face { font-family: 'ue0000'; src: url(../resources/fonts/ue0000.woff2) format('woff2'); }

.u0000 { font-family: 'u0000', 'blank'; }
.u0400 { font-family: 'u0400', 'blank'; }
.u0800 { font-family: 'u0800', 'blank'; }
.u0c00 { font-family: 'u0c00', 'blank'; }
.u1000 { font-family: 'u1000', 'blank'; }
.u1400 { font-family: 'u1400', 'blank'; }
.u1800 { font-family: 'u1800', 'blank'; }
.u1c00 { font-family: 'u1c00', 'blank'; }
.u2000 { font-family: 'u2000', 'blank'; }
.u2400 { font-family: 'u2400', 'blank'; }
.u2800 { font-family: 'u2800', 'blank'; }
.u2c00 { font-family: 'u2c00', 'blank'; }
.u3000 { font-family: 'u3000', 'blank'; }
.u3400 { font-family: 'u3400', 'blank'; }
.u3800 { font-family: 'u3800', 'blank'; }
.u3c00 { font-family: 'u3c00', 'blank'; }
.u4000 { font-family: 'u4000', 'blank'; }
.u4400 { font-family: 'u4400', 'blank'; }
.u4800 { font-family: 'u4800', 'blank'; }
.u4c00 { font-family: 'u4c00', 'blank'; }
.u5000 { font-family: 'u5000', 'blank'; }
.u5400 { font-family: 'u5400', 'blank'; }
.u5800 { font-family: 'u5800', 'blank'; }
.u5c00 { font-family: 'u5c00', 'blank'; }
.u6000 { font-family: 'u6000', 'blank'; }
.u6400 { font-family: 'u6400', 'blank'; }
.u6800 { font-family: 'u6800', 'blank'; }
.u6c00 { font-family: 'u6c00', 'blank'; }
.u7000 { font-family: 'u7000', 'blank'; }
.u7400 { font-family: 'u7400', 'blank'; }
.u7800 { font-family: 'u7800', 'blank'; }
.u7c00 { font-family: 'u7c00', 'blank'; }
.u8000 { font-family: 'u8000', 'blank'; }
.u8400 { font-family: 'u8400', 'blank'; }
.u8800 { font-family: 'u8800', 'blank'; }
.u8c00 { font-family: 'u8c00', 'blank'; }
.u9000 { font-family: 'u9000', 'blank'; }
.u9400 { font-family: 'u9400', 'blank'; }
.u9800 { font-family: 'u9800', 'blank'; }
.u9c00 { font-family: 'u9c00', 'blank'; }
.ua000 { font-family: 'ua000', 'blank'; }
.ua400 { font-family: 'ua400', 'blank'; }
.ua800 { font-family: 'ua800', 'blank'; }
.uac00 { font-family: 'uac00', 'blank'; }
.ub000 { font-family: 'ub000', 'blank'; }
.ub400 { font-family: 'ub400', 'blank'; }
.ub800 { font-family: 'ub800', 'blank'; }
.ubc00 { font-family: 'ubc00', 'blank'; }
.uc000 { font-family: 'uc000', 'blank'; }
.uc400 { font-family: 'uc400', 'blank'; }
.uc800 { font-family: 'uc800', 'blank'; }
.ucc00 { font-family: 'ucc00', 'blank'; }
.ud000 { font-family: 'ud000', 'blank'; }
.ud400 { font-family: 'ud400', 'blank'; }
.uf800 { font-family: 'uf800', 'blank'; }
.ufc00 { font-family: 'ufc00', 'blank'; }
.u10000 { font-family: 'u10000', 'blank'; }
.u10400 { font-family: 'u10400', 'blank'; }
.u10800 { font-family: 'u10800', 'blank'; }
.u10c00 { font-family: 'u10c00', 'blank'; }
.u11000 { font-family: 'u11000', 'blank'; }
.u11400 { font-family: 'u11400', 'blank'; }
.u11800 { font-family: 'u11800', 'blank'; }
.u11c00 { font-family: 'u11c00', 'blank'; }
.u12000 { font-family: 'u12000', 'blank'; }
.u12400 { font-family: 'u12400', 'blank'; }
.u12800 { font-family: 'u12800', 'blank'; }
.u12c00 { font-family: 'u12c00', 'blank'; }
.u13000 { font-family: 'u13000', 'blank'; }
.u13400 { font-family: 'u13400', 'blank'; }
.u13800 { font-family: 'u13800', 'blank'; }
.u13c00 { font-family: 'u13c00', 'blank'; }
.u14000 { font-family: 'u14000', 'blank'; }
.u14400 { font-family: 'u14400', 'blank'; }
.u14800 { font-family: 'u14800', 'blank'; }
.u14c00 { font-family: 'u14c00', 'blank'; }
.u15000 { font-family: 'u15000', 'blank'; }
.u15400 { font-family: 'u15400', 'blank'; }
.u15800 { font-family: 'u15800', 'blank'; }
.u15c00 { font-family: 'u15c00', 'blank'; }
.u16000 { font-family: 'u16000', 'blank'; }
.u16400 { font-family: 'u16400', 'blank'; }
.u16800 { font-family: 'u16800', 'blank'; }
.u16c00 { font-family: 'u16c00', 'blank'; }
.u17000 { font-family: 'u17000', 'blank'; }
.u17400 { font-family: 'u17400', 'blank'; }
.u17800 { font-family: 'u17800', 'blank'; }
.u17c00 { font-family: 'u17c00', 'blank'; }
.u18000 { font-family: 'u18000', 'blank'; }
.u18400 { font-family: 'u18400', 'blank'; }
.u18800 { font-family: 'u18800', 'blank'; }
.u18c00 { font-family: 'u18c00', 'blank'; }
.u19000 { font-family: 'u19000', 'blank'; }
.u19400 { font-family: 'u19400', 'blank'; }
.u19800 { font-family: 'u19800', 'blank'; }
.u19c00 { font-family: 'u19c00', 'blank'; }
.u1a000 { font-family: 'u1a000', 'blank'; }
.u1a400 { font-family: 'u1a400', 'blank'; }
.u1a800 { font-family: 'u1a800', 'blank'; }
.u1ac00 { font-family: 'u1ac00', 'blank'; }
.u1b000 { font-family: 'u1b000', 'blank'; }
.u1b400 { font-family: 'u1b400', 'blank'; }
.u1b800 { font-family: 'u1b800', 'blank'; }
.u1bc00 { font-family: 'u1bc00', 'blank'; }
.u1c000 { font-family: 'u1c000', 'blank'; }
.u1c400 { font-family: 'u1c400', 'blank'; }
.u1c800 { font-family: 'u1c800', 'blank'; }
.u1cc00 { font-family: 'u1cc00', 'blank'; }
.u1d000 { font-family: 'u1d000', 'blank'; }
.u1d400 { font-family: 'u1d400', 'blank'; }
.u1d800 { font-family: 'u1d800', 'blank'; }
.u1dc00 { font-family: 'u1dc00', 'blank'; }
.u1e000 { font-family: 'u1e000', 'blank'; }
.u1e400 { font-family: 'u1e400', 'blank'; }
.u1e800 { font-family: 'u1e800', 'blank'; }
.u1ec00 { font-family: 'u1ec00', 'blank'; }
.u1f000 { font-family: 'u1f000', 'blank'; }
.u1f400 { font-family: 'u1f400', 'blank'; }
.u1f800 { font-family: 'u1f800', 'blank'; }
.u1fc00 { font-family: 'u1fc00', 'blank'; }
.u20000 { font-family: 'u20000', 'blank'; }
.u20400 { font-family: 'u20400', 'blank'; }
.u20800 { font-family: 'u20800', 'blank'; }
.u20c00 { font-family: 'u20c00', 'blank'; }
.u21000 { font-family: 'u21000', 'blank'; }
.u21400 { font-family: 'u21400', 'blank'; }
.u21800 { font-family: 'u21800', 'blank'; }
.u21c00 { font-family: 'u21c00', 'blank'; }
.u22000 { font-family: 'u22000', 'blank'; }
.u22400 { font-family: 'u22400', 'blank'; }
.u22800 { font-family: 'u22800', 'blank'; }
.u22c00 { font-family: 'u22c00', 'blank'; }
.u23000 { font-family: 'u23000', 'blank'; }
.u23400 { font-family: 'u23400', 'blank'; }
.u23800 { font-family: 'u23800', 'blank'; }
.u23c00 { font-family: 'u23c00', 'blank'; }
.u24000 { font-family: 'u24000', 'blank'; }
.u24400 { font-family: 'u24400', 'blank'; }
.u24800 { font-family: 'u24800', 'blank'; }
.u24c00 { font-family: 'u24c00', 'blank'; }
.u25000 { font-family: 'u25000', 'blank'; }
.u25400 { font-family: 'u25400', 'blank'; }
.u25800 { font-family: 'u25800', 'blank'; }
.u25c00 { font-family: 'u25c00', 'blank'; }
.u26000 { font-family: 'u26000', 'blank'; }
.u26400 { font-family: 'u26400', 'blank'; }
.u26800 { font-family: 'u26800', 'blank'; }
.u26c00 { font-family: 'u26c00', 'blank'; }
.u27000 { font-family: 'u27000', 'blank'; }
.u27400 { font-family: 'u27400', 'blank'; }
.u27800 { font-family: 'u27800', 'blank'; }
.u27c00 { font-family: 'u27c00', 'blank'; }
.u28000 { font-family: 'u28000', 'blank'; }
.u28400 { font-family: 'u28400', 'blank'; }
.u28800 { font-family: 'u28800', 'blank'; }
.u28c00 { font-family: 'u28c00', 'blank'; }
.u29000 { font-family: 'u29000', 'blank'; }
.u29400 { font-family: 'u29400', 'blank'; }
.u29800 { font-family: 'u29800', 'blank'; }
.u29c00 { font-family: 'u29c00', 'blank'; }
.u2a000 { font-family: 'u2a000', 'blank'; }
.u2a400 { font-family: 'u2a400', 'blank'; }
.u2a800 { font-family: 'u2a800', 'blank'; }
.u2ac00 { font-family: 'u2ac00', 'blank'; }
.u2b000 { font-family: 'u2b000', 'blank'; }
.u2b400 { font-family: 'u2b400', 'blank'; }
.u2b800 { font-family: 'u2b800', 'blank'; }
.u2bc00 { font-family: 'u2bc00', 'blank'; }
.u2c000 { font-family: 'u2c000', 'blank'; }
.u2c400 { font-family: 'u2c400', 'blank'; }
.u2c800 { font-family: 'u2c800', 'blank'; }
.u2cc00 { font-family: 'u2cc00', 'blank'; }
.u2d000 { font-family: 'u2d000', 'blank'; }
.u2d400 { font-family: 'u2d400', 'blank'; }
.u2d800 { font-family: 'u2d800', 'blank'; }
.u2dc00 { font-family: 'u2dc00', 'blank'; }
.u2e000 { font-family: 'u2e000', 'blank'; }
.u2e400 { font-family: 'u2e400', 'blank'; }
.u2e800 { font-family: 'u2e800', 'blank'; }
.u2ec00 { font-family: 'u2ec00', 'blank'; }
.u2f000 { font-family: 'u2f000', 'blank'; }
.u2f400 { font-family: 'u2f400', 'blank'; }
.u2f800 { font-family: 'u2f800', 'blank'; }
.u2fc00 { font-family: 'u2fc00', 'blank'; }
.ue0000 { font-family: 'ue0000', 'blank'; }

@keyframes caret-animation {
    0% { opacity: 1; }
    49.99% { opacity: 1; }
    50% { opacity: 0; }
    99.99% { opacity: 0; }
}

@media screen and (max-width: 1050px) {
    #index-container {
        display: none;
    }
}

.theme-dark {
    --color-primary: #181b1f;
    --color-secondary: #262a30;
    --color-tertiary: #31353c;
    --color-border: #3e424a;
    --color-focus: #007ACC;
    --color-theme: #007ACC;
    --color-code: #e8b040;
    --color-text-primary: #f8f4f4;
    --color-text-secondary: #dcdcdc;
    --color-text-tertiary: #9098a0;
    --color-text-dim: #60646c;
    --color-text-white: #dcdcdc;
    --color-emphasis: #cac13d20;
    --color-code-emphasis: #cac13d50;
    --color-text-emphasis: #cac13d;
    --color-selection: rgba(34, 176, 233, .2);
    --color-selection-unfocused: rgba(152, 166, 172, 0.2);
}

html {
    height: 100%;
    background-color: var(--color-primary);
    color: var(--color-text-primary);
    -webkit-user-select: none;
    font-size: 14px;
    font-family: 'Segoe UI', sans-serif;

    --mono-font: 'DejaVu Sans Mono', 'Consolas', monospace;
    --sans-font: 'Segoe UI', sans-serif;
}

body {
    height: 100%;
    margin: 0;
}

input {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-border);
    color: var(--color-text-secondary);
    font: inherit;
}

a, a:visited, a:focus, a:active {
    text-decoration: none;
}

input:focus {
    border-color: var(--color-focus);
    outline: none;
}

input::selection {
    background-color: var(--color-selection);
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-corner {
    background: #a0a4ac20;
}

::-webkit-scrollbar-track
{
    background: #a0a4ac20;
}

::-webkit-scrollbar-track:disabled
{
    background: transparent;
}

::-webkit-scrollbar-thumb
{
    background: #a0a4ac40;
}

::-webkit-scrollbar-thumb:hover
{
    background: #a0a4aca0;
}

::-webkit-scrollbar-thumb:active
{
    background: #a0a4ac;
}

.dim-scrollbar::-webkit-scrollbar-corner {
    background: transparent;
}

.dim-scrollbar::-webkit-scrollbar-track
{
    background: transparent;
}

.dim-scrollbar::-webkit-scrollbar-thumb
{
    background: #a0a4ac20;
}

.dim-scrollbar::-webkit-scrollbar-thumb:hover
{
    background: #a0a4ac40;
}

.dim-scrollbar::-webkit-scrollbar-thumb:active
{
    background: #a0a4aca0;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: var(--sans-font);
    overflow: hidden;
}

#main-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

#search-container {
    height: 30px;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

#search-flex {
    display: flex;
    width: 100%;
    max-width: 900px;
    margin: 0 20px;
}

#search-input {
    height: 30px;
    width: 100%;
    padding: 0 8px;
    flex-grow: 1;
}

#table-container, #palettes-container, #results-container {
    width: 100%;
    max-width: 900px;
    margin-left: 14px;
    flex-direction: column;
}

#table-container {
    display: flex;
}

#palettes-container, #results-container {
    display: none;
}

#tooltip-container {
    display: none;
    position: absolute;
    width: 380px;
    border: 1px solid var(--color-border);
    background-color: var(--color-primary);
    z-index: 1000;
}

#tooltip {
    margin: 15px;
    width: 350px;
}

#editor-container {
    height: 100px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

#status-bar {
    background-color: var(--color-theme);
    height: 20px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: var(--color-text-white);
}

#status-bar-left, #status-bar-right {
    display: flex;
    align-items: center;
    margin: 0 8px;
}

#status-bar-left > div, #status-bar-right > div {
    margin: 0 8px;
}

.code-block {
    margin-top: 10px;
}

.code-block-header {
    margin: 0 5px 0 5px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.code-block-header:hover {
    background-color: var(--color-tertiary);
}

.code-block-header:active {
    background-color: var(--color-border);
}

.code-block-rows-container {
    max-height: 0; /* will be changed by js */
    overflow-y: hidden;
}

.code-block-rows {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

.code-block-header-expander {
    width: 30px;
    font-size: 24px;
    font-weight: 200;
}

.code-block-header-expander::after {
    content: '+';
}

.code-block[data-expanded] .code-block-header-expander::after {
    content: '−';
}

.code-block-header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.code-block-range {
    color: var(--color-text-tertiary);
    width: 100px;
    margin-top: -3px;
    margin-bottom: -5px;
}

.code-block-name {
    font-size: 18px;
    font-weight: 200;
}

.code-block-row, .palette-row {
    display: flex;
}

.code-point {
    width: calc(6.25% - 12px);
    margin: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.code-point-char {
    font-size: 24px;
    height: 50px;
    width: 100%;
    border: 1pt solid var(--color-secondary);
    background-color: var(--color-secondary);
    color: var(--color-text-secondary);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-kerning: none;
}

.code-point[data-disabled] .code-point-char {
    opacity: .2;
}

.code-point:not([data-disabled]):hover .code-point-char {
    background-color: var(--color-border);
}

.code-point:not([data-disabled]):hover .code-point-number {
    color: var(--color-text-secondary);
}

.code-point-number {
    font-size: 12px;
    color: var(--color-text-tertiary);
}

.code-block-sub-expander {
    height: 24px;
    display: flex;
    align-items: center;
    margin: 0px 5px 3px 5px;
    padding-left: 10px;
}

.code-block-sub-expander:hover {
    background-color: var(--color-secondary);
}

.code-block-sub-expander:active {
    background-color: var(--color-border);
}

.code-block-sub-expander::after {
    content: attr(data-text);
    color: var(--color-text-tertiary);
    font-size: 14px;
}

.code-block-sub-expander-icon {
    width: 30px;
    font-size: 20px;
    font-weight: 200;
    margin-top: -4px;
}

.code-block-sub-expander-icon::after {
    content: '+';
}

.code-block-sub-expander[data-expanded] .code-block-sub-expander-icon::after {
    content: '−';
}

.code-block-sub-rows {
    max-height: 0;
    padding-bottom: 5px;
    overflow-y: hidden;
}

.tooltip-char-code {
    color: var(--color-code);
    font-size: 15px;
    margin-top: -5px;
    word-spacing: 2px;
    line-height: 15px;
    -webkit-user-select: text;
}

.tooltip-char-name {
    font-size: 18px;
    font-weight: 200;
    line-height: 18px;
    margin-bottom: 8px;
    -webkit-user-select: text;
}

.tooltip-char-property-header {
    margin: 3px 0 -1px 0;
    color: var(--color-text-tertiary);
    text-transform: uppercase;
    font-size: 11px;
    -webkit-user-select: text;
}

.tooltip-char-property {
    font-size: 14px;
    color: var(--color-text-secondary);
    -webkit-user-select: text;
    line-height: 14px;
}

.tooltip-reading-header {
    color: var(--color-code);
    font-size: 11px;
    text-transform: uppercase;
    display: inline-block;
    background-color: var(--color-tertiary);
    border-radius: 3px;
    padding: 2px 5px;
    margin: 2px 10px 2px 0;
    -webkit-user-select: none;
}

.tooltip-reading {
    display: inline-block;
    margin-right: 15px;
}

span.dim {
    color: var(--color-text-tertiary);
}

span.code {
    color: var(--color-code);
    font-size: 12px;
    font-family: var(--mono-font);
    background-color: var(--color-tertiary);
    border-radius: 3px;
    padding: 2px 5px;
}

#tooltip span.code {
    display: inline-block;
    margin: 5px 7px 2px 0;
}

#tooltip ::selection {
    background-color: var(--color-selection);
}

#tooltip-container .code-point-char {
    font-size: 54px;
    height: 100px;
    width: 100px;
    margin: 5px 0 15px 15px;
    float: right;
}

#tooltip-container .code-point-char:hover {
    background-color: var(--color-border);
}

.code-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#tooltip-container .code-list .code-point,
.search-result .code-list .code-point {
    margin: 5px 10px 0 0;
    width: 35px;
    height: auto;
    -webkit-user-select: none;
}

#tooltip-container .code-list .code-point-char,
.search-result .code-list .code-point-char {
    font-size: 20px;
    height: 35px;
    width: 35px;
    margin: 0;
}

#tooltip-container .code-list .code-point-number,
.search-result .code-list .code-point-number {
    color: var(--color-text-dim);
}

#tooltip-container .code-list .code-point:hover .code-point-number,
.search-result .code-list .code-point:hover .code-point-number {
    color: var(--color-text-secondary);
}

.code-point[data-title] {
    position: relative;
}

.code-point .code-point-title {
    opacity: 0;
    visibility: hidden;
    padding: 4px 8px 5px 8px;
    color: var(--color-text-secondary);
    position: absolute;
    left: 0;
    top: 100%;
    white-space: nowrap;
    z-index: 2;
    background: var(--color-primary);
    border: 1px solid var(--color-border);
    transition: opacity 200ms;
}

.code-point:hover .code-point-title {
    opacity: 1;
    visibility: visible;
}

.emoji {
    margin-bottom: 8%;
    font-family: 'Segoe UI Emoji';
}

.flag-emoji {
    margin-bottom: 8%;
    font-family: 'Noto Emoji';
}

#index-container {
    width: 0px;
}

#index {
    position: fixed;
    height: calc(100% - 240px);
    margin: 0 0 0 20px;
    width: 60px;
    overflow-y: scroll;
}

#index::-webkit-scrollbar {
    width: 0;
}

#index:hover::-webkit-scrollbar {
    width: 8px;
}

#index-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100%;
}

.index-item {
    width: 45px;
    height: 20px;
    padding: 0px 5px 1px 0;
    text-align: right;
    color: var(--color-text-dim);
    font-size: 15px;
    cursor: pointer;
    transition: font-size 400ms, height 400ms;
}

.index-item.index-item-active {
    height: 24px;
    color: var(--color-text-secondary);
    font-size: 20px;
    font-weight: 200;
}

span.index-zeroes {
    color: var(--color-text-dim);
    font-size: 12px;
    font-weight: normal;
}

.index-item-active span.index-zeroes {
    color: var(--color-text-tertiary);
}

.index-item:hover {
    color: var(--color-text-tertiary);
}

.index-item.index-item-active:hover {
    color: var(--color-text-secondary);
}

.index-item:hover span.index-zeroes {
    color: var(--color-text-tertiary);
}

#editor {
    height: 80px;
    margin: 10px 15px;
    outline: 1px solid var(--color-border);
    background-color: var(--color-primary);
    padding: 5px;
    overflow-x: scroll;
}

#editor[data-focus] {
    outline: 1px solid var(--color-focus); 
}

#editor-content {
    cursor: text;
    height: 100%;
    display: flex;
}

#editor-chars {
    display: flex;
    align-items: center;
    padding-right: 5px;
}

#editor-chars .code-point {
    margin: 0 5px 0 5px;
    width: 35px;
}

#editor-chars .code-point-char {
    font-size: 20px;
    height: 35px;
    width: 35px;
    margin: 0;
}

#editor-chars .code-point:hover .code-point-char {
    background-color: var(--color-secondary);
}

#editor-chars .code-point:hover .code-point-number {
    color: var(--color-text-tertiary);
}

.caret {
    width: 2px;
    margin: 0 -1px 0 -1px;
    height: 100%;
    background-color: var(--color-text-tertiary);
    opacity: 0;
    position: relative;
    z-index: 2;
    /* caret contains the hidden input box */
    display: flex;
    align-items: flex-end;
}

#editor[data-focus] .caret[data-active] {
    animation: 1s caret-animation 0s infinite;
}

#editor-input {
    height: 5px;
    width: 10000px; /* 0px won't work with ime */
    overflow-x: hidden;
    font-size: 1px;
    opacity: 0;
}

.editor-selection-container {
    width: 0;
    height: 100%;
}

.editor-selection {
    position: relative;
    height: 100%;
    z-index: 1;
    background-color: var(--color-selection-unfocused);
}

#editor[data-focus] .editor-selection {
    background-color: var(--color-selection);
}

#text-preview {
    position: absolute;
    left: 15px;
    bottom: 111px;
    margin-right: 15px;
    padding: 5px 10px;
    min-height: 20px;
    font-size: 16px;
    line-height: 18px;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-border);
    overflow: hidden;
    display: none;
    align-items: center;
    color: var(--color-text-secondary);
}

#editor[data-focus] #text-preview {
    display: flex;
}

#popup-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000b0;
    opacity: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

#popup {
    width: 400px;
    max-width: 400px;
    padding: 20px 30px;
    background-color: var(--color-primary);
}

#popup ::selection {
    background-color: var(--color-selection);
}

#popup-header {
    font-size: 22px;
    color: var(--color-code);
    margin-bottom: 20px;
}

#popup-content {
    -webkit-user-select: text;
    color: var(--color-text-secondary);
}

#popup-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

.popup-button, .button {
    background-color: var(--color-secondary);
    width: 80px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}

.popup-button:hover, .button:hover {
    background-color: var(--color-border);
}

#tabs-container {
    height: 40px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}

#tabs {
    display: flex;
    margin-top: 5px;
}

.tab {
    padding: 0 10px;
    cursor: pointer;
}

.tab::after {
    color: var(--color-text-tertiary);
    font-size: 12px;
    content: attr(data-header);
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    display: flex;
    align-items: center;
    padding-top: 5px;
    height: 24px;
}

.tab:hover::after {
    color: var(--color-text-secondary);
}

.tab[data-selected]::after {
    color: var(--color-text-secondary);
    border-bottom: 1px solid var(--color-text-secondary);
}

#no-results {
    font-size: 16px;
    color: var(--color-text-dim);
    text-align: center;
    margin-top: 20px;
    display: none;
}

.search-result {
    display: flex;
    padding: 15px 10px;
}

.search-result ::selection {
    background-color: var(--color-selection);
}

.search-result:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
}

.search-result .code-point {
    margin: 0 15px 0 0;
    height: 60px;
    width: 60px;
    align-self: flex-start;
}

.search-result .code-point-char {
    font-size: 32px;
    height: 60px;
    width: 60px;
    margin: 0;
}

.search-result .code-point-char.disabled {
    opacity: .6;
}

.search-result .code-point-char:not(.disabled):hover {
    background-color: var(--color-border);
}

.result-char-code {
    color: var(--color-code);
    font-size: 15px;
    -webkit-user-select: text;
    word-spacing: 2px;
}

.result-char-name {
    font-size: 18px;
    font-weight: 200;
    line-height: 18px;
    margin-bottom: 6px;
    -webkit-user-select: text;
}

.result-contents table td {
    vertical-align: baseline;
}

.result-property-header {
    font-size: 12px;
    text-transform: uppercase;
    text-align: right;
    color: var(--color-text-tertiary);
    padding-right: 15px;
    -webkit-user-select: text;
}

.result-property {
    display: inline-block;
    font-size: 14px;
    -webkit-user-select: text;
}

.search-result span.emphasis {
    background-color: var(--color-emphasis);
    border-radius: 3px;
    padding: 0px 3px 1px;
    color: var(--color-text-emphasis);
    font-weight: normal;
}

.search-result span.code {
    display: inline-block;
    margin: 0 7px 0 0;
}

.search-result span.code.emphasis {
    color: var(--color-text-emphasis);
    font-size: 12px;
    font-family: var(--mono-font);
    background-color: var(--color-emphasis);
    border-radius: 3px;
    padding: 2px 5px;
    background-color: var(--color-code-emphasis);
}

td.vertical-center {
    vertical-align: middle !important;
}

#palette-content {
    display: none;
}

.palette-group-header {
    font-size: 24px;
    font-weight: 200;
    margin: 20px 10px 10px;
}

.palette-group-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
}

.palette-info {
    padding: 10px 15px 15px;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    align-items: center;
    flex-shrink: 0;
    flex-grow: 1;
    width: 250px;
    margin: 5px;
}

@media screen and (min-width: 800px) {
    .palette-info:nth-child(6n+1):nth-last-child(4), .palette-info:nth-child(6n+2):nth-last-child(3), .palette-info:nth-child(6n+0):nth-last-child(2), .palette-info:nth-child(6n+1):nth-last-child(1) {
        width: 300px;
    }
}

.palette-info:hover {
    background-color: var(--color-tertiary);
}

.palette-info-name {
    font-size: 20px;
    color: var(--color-text-secondary);
}

.palette-info-description {
    color: var(--color-text-tertiary);
    margin-bottom: 10px;
}

.palette-info-samples {
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.palette-info-samples .code-point-char {
    width: 35px;
    height: 35px;
    font-size: 20px;
    margin-right: 10px;
    background-color: var(--color-tertiary);
    border: none;
}

.palette-info-samples-ellipsis {
    color: var(--color-text-tertiary);
    width: 30px;
}

.palette-info-samples-ellipsis::after {
    content: '• • •';
}

#palette-buttons-container {
    float: right;
}

#palette-header {
    font-size: 32px;
    font-weight: 200;
    margin: 15px 10px 5px;
}

#palette-header-underline {
    border-bottom: 2px solid var(--color-border);
    margin: 0 10px 15px;
}

.palette-section-header {
    font-size: 20px;
    color: var(--color-text-secondary);
    margin: 20px 10px 10px;
}
